@charset "UTF-8";

/* Resetear bootstrap */

html {
  height: 100%;
}

body {
  background-color: #f7f7f7;
  font-family: calibri;
  min-height: 100%;
}

table {
  table-layout: fixed;
}

textarea {
  text-align: justify;
}

button:focus {
  outline: 0px;
}

button.btn.btn-info {
  background: #34abeb;
  color: #fff;
}

section.m-250 {
  max-width: 100%;
  overflow: hidden;
}

.text-decoration-underline {
  text-decoration: underline;
}

.dropdown-item:hover {
  background-color: #d2ff9d;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
  position: relative;
}

.form-control {
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 0px;
  color: #636b6f;
}

.tooltip-inner {
  max-width: 236px !important;
  font-size: 12px;
  background: #34abeb;
  color: #fff;
  border: 0px;
  text-align: left;
}

.tooltip.show {
  opacity: 1;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^=top] .arrow::before {
  border-top-color: #34abeb;
}

.p-20 {
  padding: 20px;
}

.text-verde {
  color: #8BC34A;
}

.clearfix {
  clear: both;
}

.m-250 {
  margin: 250px 0;
}

.mt-header {
  margin-top: 64.22px;
}

.bg-gold {
  background: #fecb4c;
  margin-bottom: 10px;
}

.block-with-text {
  overflow: hidden;
  position: relative;
  text-align: justify;
}

/* create the ... */

.block-with-text:before {
  background: #fff;
  bottom: 0;
  content: "...";
  padding: 0 4px;
  position: absolute;
  right: 20px;
}

/* hide ... if we have text, which is less than or equal to max lines */

.block-with-text:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.mensaje-eliminar {
  line-height: 1.2;
}

.table {
  table-layout: fixed;
}

.table.dataTable {
  margin: 0 !important;
}

.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td,
.table tfoot tr th,
.table tfoot tr td {
  border: 0px;
}

.table thead tr th,
.table tbody tr td {
  border-bottom: 1px solid #F0F0F0;
  font-size: 13px;
  vertical-align: middle;
}

.table thead tr th {
  background: #fafafa;
  border-top: 1px solid #F0F0F0;
  font-weight: bold;
}

/* ==========================================================================
Página principal
========================================================================== */

.card.bg-gold {
  width: 100%;
  margin: auto;
  padding: 36px;
  color: #fff;
  line-height: 1.3;
  border-radius: 6px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 22px;
}

.navbar-laravel.navbar-pagina .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  transition: all 0.3s ease;
}

.navbar-laravel.navbar-pagina .navbar-brand:hover,
.navbar-laravel.navbar-pagina .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-laravel.navbar-pagina .navbar-nav .nav-item.active {
  background: #7ab23a;
  border-radius: 42px;
}

.navbar-laravel.navbar-pagina .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.header-pagina-principal {
  -webkit-clip-path: url(#myClip);
          clip-path: url(#myClip);
  height: 710px;
  position: relative;
  z-index: 2;
}

.header-pagina-principal:after {
  content: "";
  background: url(/images/grindda_logo_blanco.png) center center no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 15%;
  width: 100%;
  z-index: 1;
}

.grindda-info {
  align-items: center;
  background: url(/storage/proyectos/u5CDMpIhuY3spxafGElX.jpg) no-repeat center/cover fixed;
  justify-content: center;
  position: absolute;
  left: 0;
  line-height: normal;
  right: 0;
  top: 504px;
  width: 100%;
  z-index: 1;
}

.grindda-info p.text-center {
  font-size: medium;
}

.grindda-info::before,
.header-publicaciones::before,
.header-pagina-principal::before {
  background: rgba(49, 49, 49, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.card-publicacion .card-header,
.card-publicacion .card-footer {
  background: #fff;
}

.card-publicacion .card-body {
  min-height: 330px;
  padding: 0;
}

.card-publicacion .card-body img {
  max-height: 282px;
  -o-object-fit: cover;
     object-fit: cover;
}

header.jumbotron {
  border-radius: 0px;
  position: relative;
  overflow: hidden;
}

header.jumbotron h1 {
  color: #78af37;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

header.jumbotron:after {
  background-image: linear-gradient(141deg, #e9ecef 38%, #e9ecefc2 51%, #e9ecef47 75%);
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 100%;
}

.jumbotron-informacion {
  background-position-y: -330px;
  background-size: cover;
}

.jumbotron-publicaciones {
  background: #e9ecef url(/storage/carousel/recurso-1.jpg) no-repeat;
  background-size: cover;
}

.jumbotron-lineas-investigacion {
  background: #e9ecef url(/storage/imagenes_lineas_investigacion/F7mqDVGfdJqjiNv9siqU.jpg) no-repeat center right;
  background-size: cover;
}

.jumbotron-semilleros {
  background: #e9ecef url(/storage/carousel/OpwRD2p0nmiUR1v7kzmG.jpg) no-repeat center right;
  background-size: cover;
}

.linea-investigacion-even,
.semilleros-odd {
  background: #e9ecef;
}

.btn-mas-informacion {
  transition: 0.4s all ease;
}

.btn-mas-informacion:hover {
  background: #1f74ff;
  border: 2px solid #85cdf7 !important;
  color: #fff;
}

/* ==========================================================================
Panel de administracion
========================================================================== */

.navbar-laravel.navbar-panel {
  background: #fff;
}

.pt-pagina,
.pt-panel {
  padding-top: 64.22px;
}

.img-perfil {
  height: 70px;
}

.btn-circle {
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(109, 109, 109, 0.12);
  color: #737373;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin-right: 8px;
  text-align: center;
  transition: all 0.4s ease;
  width: 25px;
}

.btn-circle:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.btn-circle.btn {
  padding: 0;
}

.vs-sidebar.vs-sidebar-parent {
  position: fixed;
}

.vs-sidebar--item.active {
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.01));
  border-right: 3px solid #3490dc !important;
  font-weight: 700;
}

.vs-sidebar--item.active a {
  color: #3490dc !important;
  opacity: 1 !important;
}

.mh-vh {
  min-height: 100vh;
}

.owl-carousel.carousel-investigadores .owl-item {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
}

.owl-carousel.carousel-investigadores .owl-item.center .card {
  height: 500px;
  opacity: 1;
  padding: 38px;
  width: 100%;
}

.owl-carousel.carousel-investigadores .owl-item.medium .card {
  height: 420px;
  width: 90%;
}

.owl-carousel.carousel-investigadores .owl-item .card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  height: 370px;
  padding: 35px;
  opacity: 0.4;
  transition: all 0.6s ease;
}

.owl-carousel.carousel-investigadores .owl-item .card .foto-investigador {
  width: 120px;
}

.owl-carousel.carousel-jumbotron {
  height: 450px;
}

.owl-carousel.carousel-jumbotron .owl-stage-outer {
  height: 450px;
}

.owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item {
  height: inherit;
}

.owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item .carousel-card {
  background: #fff;
  box-shadow: -1px 7px 23px -11px rgba(0, 0, 0, 0.3);
  height: auto;
  padding: 36px;
}

.owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item .carousel-description {
  background: #fff;
  box-shadow: 1px 7px 23px -11px rgba(0, 0, 0, 0.13);
  height: 80px;
  padding: 20px;
  position: relative;
  z-index: 2;
  /* styles for '...' */
}

.owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item .carousel-description .block-with-text {
  max-height: 3.6em;
}

.owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item .carousel-description .block-with-text:before {
  bottom: 4px;
  right: 0;
}

.owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item img {
  height: 353px;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-carousel.carousel-jumbotron .owl-nav {
  background: #fff;
  position: absolute;
  right: 50%;
  top: 447px;
  width: 16%;
}

.owl-carousel.carousel-jumbotron .owl-nav button:nth-child(1) {
  float: left;
  width: 30%;
}

.owl-carousel.carousel-jumbotron .owl-nav button:nth-child(2) {
  background-color: #cad7dc;
  float: right;
  width: 70%;
}

.owl-carousel.carousel-jumbotron .owl-nav button {
  padding: 20px 5px !important;
}

/* ==========================================================================
Form de inicio de sesión
========================================================================== */

.wrap-form-signin .form-signin {
  margin: auto;
  padding: 12% 0 0;
  width: 320px;
}

/* ==========================================================================
Navbar links
========================================================================== */

.navbar-links {
  margin-top: 55px;
}

/* ==========================================================================
Jumbotron eventos
========================================================================== */

.jumbotron-eventos {
  background-position-y: -60px;
  background-size: 622px;
}

.jumbotron-eventos:after {
  width: 100% !important;
  z-index: 0;
}

.card-eventos .col-md-7 p.text-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-eventos-detalle {
  height: auto;
  padding-bottom: 35px;
}

.card-eventos-detalle .col-md-7 p.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-eventos-detalle article.logros.mostrar-menos {
  height: 600px;
  overflow: hidden;
}

.card-eventos-detalle article.logros.mostrar-menos:after {
  background: #fff;
  content: "";
  height: 122px;
  -webkit-filter: blur(35px);
  filter: blur(24px);
  left: 0;
  position: absolute;
  right: 0;
  width: 94%;
  bottom: -22px;
  z-index: 0;
}

.card-eventos-detalle article.logros.mostrar-menos button.show-more {
  background: #1f74ff;
  display: block !important;
}

.card-eventos-detalle article.logros.mostrar-mas {
  height: auto;
}

.card-eventos-detalle article.logros.mostrar-mas button.show-more {
  display: none !important;
}

.card-eventos-detalle article.logros button.show-more {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.evento-fecha {
  background: #1f74ff;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
  color: #fff;
  font-size: medium;
  padding: 7px;
}

.substring {
  font-size: 100%;
  text-transform: capitalize;
}

.enlace-archivo {
  display: block;
  background: #f7f7f7;
  border-radius: 9px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.07), 1px 2px 5px 0 rgba(0, 0, 0, 0.06);
  color: #8e8e8e;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

/* ==========================================================================
Publicaciones
========================================================================== */

.card-publicaciones img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-publicaciones .block-with-text {
  max-height: 9.5em;
}

.icono-enlace {
  height: 34px;
  line-height: 34px;
  width: 34px;
}

/* ==========================================================================
Footer
========================================================================== */

.color-facebook {
  color: #3B5998;
}

.color-twitter {
  color: #55acee;
}

.color-instagram {
  color: #d32c83;
}

.color-blogger {
  color: #ff8000;
}

.list-footer-mobile {
  margin-bottom: 4rem;
  text-align: center;
}

.footer-pages {
  background: #fff;
  font-size: 13px;
  padding-bottom: 55px;
  padding-top: 75px;
}

.footer-pages .text-footer {
  margin-top: 100px;
}

.footer-pages .footer-desc {
  color: #a9a9a9;
}

.mini-footer {
  background: #eee;
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
}

.footer-ficha {
  background: #eee;
  height: 50px;
}

.copyright {
  padding: 25px 0;
  border-top: 1px solid rgba(122, 137, 148, 0.07);
}

.company {
  color: #74b848;
}

/* ==========================================================================
Semillero
========================================================================== */

* {
  font-family: "Poppins", sans-serif;
}

.semillero-bg-header {
  background: url(/images/Trazado2.png) no-repeat center;
  width: 100%;
  height: 80%;
}

.title {
  color: #f8d800;
}

.title-semillero {
  color: white;
  position: relative;
  z-index: 99;
}

.logo-semillero {
  background: url(/images/SemilleroAmarillo.png) no-repeat center;
  width: 400px;
  height: 102px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.logo-text {
  padding-bottom: 250px;
  margin-top: 100px;
  background: url(/images/cuadros-fondo.png) no-repeat center;
}

.descripcion {
  width: 500px;
  line-height: 2rem;
  text-align: justify;
  color: #525f7f;
}

.img-team {
  border-radius: 50%;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

div.lastname-team {
  padding-top: 130px;
}

div.username-team h1 {
  text-align: right;
  margin-left: 250px;
  font-size: 50px;
  color: #f8d800;
}

div.lastname-team h1 {
  font-size: 50px;
  margin-left: -100px;
  color: #f8d800;
}

.group-integrante {
  display: inline-block;
}

.btn-semillero {
  background-image: linear-gradient(to right, #ff6b09, #ff8fe2);
  width: 100px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.group-team {
  margin-top: 100px;
}

.group-team div p {
  margin-top: 40px;
  position: relative;
  left: 30px;
}

section {
  padding-bottom: 50px;
}

.carousel-images {
  border-radius: 10px;
  margin-top: 200px;
}

div.contenido-desc {
  margin-right: 10px;
}

.talleres {
  margin-top: 300px;
}

.descripcion-taller {
  width: 1050px;
}

h1.title-taller {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-size: 50px;
  color: #f8d800;
  padding-bottom: 150px;
}

.img-taller {
  width: 181px;
  height: 179px;
  background: url(/images/Trazado9809.png) no-repeat center;
  display: flex;
  align-items: center;
  position: relative;
  top: -70px;
  left: 20px;
}

.img-taller2 {
  width: 137px;
  height: 134px;
  background: url(/images/Trazado9808.png) no-repeat center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.img-calendar {
  background: url(/images/calendar.png) no-repeat center;
  background-size: contain;
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
}

.taller-desc {
  padding-bottom: 120px;
}

.contenido-taller {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.descripcion-taller {
  margin-right: 100px;
  width: 100%;
}

/* Trazados de lineas */

div.first-line {
  background: url(/images/first-line.png) no-repeat center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -3400px;
  z-index: 6;
  background-size: 250vh;
}

div.second-line {
  background: url(/images/second-line.png) no-repeat center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -2900px;
  z-index: 999;
  background-size: cover;
}

div.third-line-green {
  background: url(/images/third-line-green.png) no-repeat center;
  width: 50%;
  height: 50%;
  position: relative;
  top: 100px;
  z-index: 99;
  background-size: 200vh;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

div.sombra {
  background: url(/images/sombra.png) no-repeat center;
  width: 200px;
  height: 800px;
  position: relative;
  top: -2500px;
  left: -30px;
  z-index: 99;
  background-size: contain;
}

/* ==========================================================================
Semillero
========================================================================== */

@media (max-width: 991px) {
  .login-dropdown {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .card.bg-gold > h1 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .grindda-info .container {
    margin-top: 200px !important;
  }

  .carousel.m-250 {
    margin-top: 400px;
  }

  .card.bg-gold {
    width: 100%;
  }

  .owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item .carousel-description .block-with-text {
    max-height: 3.19em;
    font-size: 12px;
  }

  .owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item .carousel-description {
    bottom: 76px;
  }

  .navbar-nav .nav-item .nav-link {
    padding-left: 20px;
  }

  .logo-footer {
    display: block;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
    max-width: 100%;
    width: 155px;
  }

  .card-publicaciones {
    height: auto;
  }

  .card-eventos img,
  .card-eventos-detalle img {
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .header-pagina-principal:after {
    content: "";
    background: url(/images/grindda_logo_blanco.png) center center no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 15%;
    width: 100%;
    z-index: 1;
    background-size: contain;
  }
}

@media (min-width: 768px) {
  .owl-carousel.carousel-jumbotron .owl-stage-outer .owl-item .carousel-card {
    height: 434px;
  }

  .carousel-jumbotron .owl-item:before {
    background: linear-gradient(90deg, #ffffff 28%, #ffffff5e 60%, #ffffff47 75%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
  }

  .card-eventos {
    height: 330px;
  }

  .card-eventos p.block-with-text {
    max-height: 9.7em;
  }

  .card-eventos img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .list-footer-mobile {
    margin-bottom: 0;
    text-align: left;
  }

  .grindda-info {
    display: flex;
    height: 400px;
    padding: 60px;
  }
}

@media (max-width: 600px) {
  .carousel-investigadores {
    padding: 0 12px;
  }
}

